<p>
  Thank you for taking the survey. Please do not press the "back button" 
  on your browser. We will contact you soon with information about how to 
  receive and redeem your Amazon gift certificate.  A message is being 
  sent to your Facebook account with instructions on how to recruit 
  friends into this survey, for which you will receive additional 
  Amazon gift certificates. Your friends need to use the link contained 
  in these instructuction in order for you to earn these as gift certificates 
  for referring them. Thank you for participating.
</p>

<p style="font-weight: bold;">
  More Information:
</p>
   
<p>
  For more information or questions about this research you may call 
  Dr. Vincent Silenzio at 585.275.6069. If you have questions, concerns 
  or complaints about your rights as a research subject you may contact, 
  anonymously if you wish, a Human Subjects Protection Specialist at 
  the University of Rochester Research Subjects Review Board, Box 315, 
  601 Elmwood Avenue, Rochester, NY 14642-8315, Telephone 011(585) 276-0005. 
  For long-distance you may call toll-free: 011(877) 449-4441. You may 
  also call these numbers if you cannot reach the research staff or wish 
  to talk to someone else. 
</p>
