<p>
 Thank you for completing the survey! We have one last favor to ask of you, for which 
  we will pay you up to $15. Would you be willing to help us find 
  other adult gay male friends to take the survey? 

  We will give you $5 in Amazon.com credit for each of the first three friends of yours who 
  takes the survey.  Here is a sample email you may use,
  however it is only necessary to provide the link below.

</p>

<blockquote>
  <p>
    Dear Friend,
  </p>
  <p>
    I just took a online survey on gay men’s health and wanted to invite you to take it as well. 
    If you are interested, please copy the link below into your web browser.
  </p>
 <p>
<a href ="<%= @invitation_url %>"><%=@invitation_url %></a>
</p>
<p>
 <p>
    You will earn $10 in Amazon credit just for taking the survey and will 
    help the medical and public policy communities better understand of the 
    health concerns of gay men. Additionally, I will earn $5 for referring 
    you. After taking the survey, you may also have the opportunity to earn 
    additional credit by referring others to the survey. Thank you!
  </p>
</blockquote>
