<p>
  <i>[If person was not a respondent]</i>
</p>

<p>
  Thank you for your interest in our survey. The survey is now completed.
</p>

<hr>

<p>
  <i>[If person was a respondent and hasn’t received credit yet]</i>
</p>

<p>
  Thank you for helping us with the survey. The survey is now completed. 
  Our records show that we owe you $10 in Amazon.com credit for taking 
  the survey and $Z for recruiting your friends. We will be contacting 
  you shortly via a Facebook message with instructions on how to receive 
  your Amazon.com credit.
</p>

<hr>

<p>
  <i>[If person was a respondent and has already credit]</i>
</p>

<p>
  Thank you for helping us with this survey. The survey is now completed. 
  Our records show that we sent a message to your Facebook account on 
  xx/xx/2013 with Amazon.com credit of $10 for taking the survey and $Z 
  for recruiting your friends (for a total of $Z+10 in Amazon.com credit). 
  If for some reason you still have not received this credit please contact 
  Dr. Vincent Silenzio, M.D., M.P.H. at vincent_silenzio@urmc.rochester.edu.
</p>

