<p>
  Thank you for taking the survey. The survey is still in progress. 
  As soon as the survey is completed, we will send you details on 
  your Amazon.com credit. You have currently earned $X in Amazon 
  credit for taking the survey and successfully referring Y respondents.
</p>

<p>
  [If respondent is still eligible to refer:]
</p>

<p>
  You may get credit for referring Z more of your friends.
</p>

<p>
  [Also, since the respondent is still eligible to refer, include the Invite Friends page here, 
  with Z rather than the default of 3 invitation links]
</p>
